<div class = "col-sm-4 center-block">
   <div class = "row">
      <h1>{{title}}</h1>
      <div class = "form-group">
         <input type = "text"
                class = "form-control"
                [(ngModel)] = "name"
                placeholder = "Name">
      </div>
      <div class = "form-group">
         <input type = "text"
                class = "form-control"
                [(ngModel)] = "lastName"
                placeholder = "Last Name">
      </div>
      <div class = "form-group">
         <input type = "email"
                class = "form-control"
                [(ngModel)] = "email"
                placeholder = "Email">
      </div>
      <div class = "form-group">
         <input type = "number"
                class = "form-control"
                [(ngModel)] = "number"
                placeholder = "Number">
      </div>
      <div class = "form-group">
         <button type = "button"
                 (click) = "CreateRecord()"
                 [disabled] = "!name || !lastName || !email || !number"
                 class = "btn ">+
            Create User
         </button>
      </div>
   </div>
   <div class = "row user-details">
      <div *ngFor = "let item of users">
         <div *ngIf = "!item.isEdit; else elseBlock">
            <div class = "row">
               <div class = "row user-each">
                  <div class = "col-md-2">{{item.name}}</div>
                  <div class = "col-md-3">{{item.lastName}}</div>
                  <div class = "col-md-2">{{item.email}}</div>
                  <div class = "col-md-2">{{item.number}}</div>
                  <div class = "col-md-3 ">
                     <span class = "edit-btn"
                           (click) = "EditRecord(item)">
                        EDIT
                     </span>
                     <span class = "del-btn"
                           (click) = "RemoveRecord(item.id)">
                        DELETE
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <ng-template #elseBlock>
            <div class = "row">
               <h5>Edit User</h5>
               <div class = "form-group">
                  <input type = "text"
                         class = "form-control"
                         [(ngModel)] = "item.EditName"
                         placeholder = "Edit Name">
               </div>
               <div class = "form-group">
                  <input type = "text"
                         class = "form-control"
                         [(ngModel)] = "item.EditlastName"
                         placeholder = "Edit LastName">
               </div>
               <div class = "form-group">
                  <input type = "text"
                         class = "form-control"
                         [(ngModel)] = "item.EditEmail"
                         placeholder = "Edit Email">
               </div>
               <div class = "form-group">
                  <input type = "text"
                         class = "form-control"
                         [(ngModel)] = "item.EditNumber"
                         placeholder = "Edit Number">
               </div>
            </div>
            <button class = "btn btn-info"
                    (click) = "item.isEdit = false">Cancel
            </button>
            <button class = "btn btn-success"
                    (click) = "UpdateRecord(item)">Update
            </button>
         </ng-template>
      </div>
   </div>
</div>
