.user-details {
  margin: 10px 0;
}

.user-each {
  padding: 5px 0;
}

.edit-btn {
  background: yellowgreen;
  border: none;
  padding: 5px 9px;
  color: #fff;
  font-size: 1.1rem;
  margin-right: 1px;
  cursor: pointer;
}

.del-btn {
  background: red;
  border: none;
  padding: 5px 9px;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

h1 {
  margin: 15px 0 0;
  font-size: 2rem;
  font-weight: 600;
  color: yellowgreen;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

h5 {
  font-weight: 600;
  color: yellowgreen;
}
